
<div class="row">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand"><img src="images/heartbeat.png" class="pulse"></span>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="logout-btn" ng-click="logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-sm-4 left-side">
		<div class="media">
			<div class="img">
				<!-- avatar image -->
				<img src="{{facebookprofileid}}" alt="{{username}}" class="avatar" ng-show="{{facebookActive}}">
				<img src="{{guestprofileid}}" alt="{{username}}" class="avatar" ng-show="{{guestActive}}">
			</div>
			<div class="profile-data">
				{{username}}
			</div>
		</div>

<!-- 		<div class="field">
			<textarea class="text" rows="4" cols="10" placeholder="Share an update..." ng-model="message" maxlength="160"></textarea>
		</div> -->
		<div emoji-form emoji-message="emojiMessage" class="message-box">
		    <textarea id="messageInput" ng-model="emojiMessage.messagetext" rows="4" cols="10" ng-model="messagetext" maxlength="160"></textarea>

		    <button id="emojibtn" class="pull-right">
		        <i class="icon icon-emoji"></i>
		    </button>
		</div>
		<!-- emojis are taking too much space -->
		<!-- <div class="pull-right" ng-show="emojiMessage.rawhtml">{{160 - emojiMessage.rawhtml.length}}</div> -->

		<div class="spark-button-div">
			<button class="btn default full" ng-click="submitMessage()" ng-show="emojiMessage.rawhtml">Post</button>
		</div>
		<div class="separator"></div>
</div>

<div class="col-sm-8 right-side">
	<ul class="item-list posted" ng-repeat="post in posts | orderBy: '-date'"> 
		<li>
			<div class="media">
				<div class="img" ng-switch on="guestActive">
					<img class="avatar" ng-src="{{post.profileid}}">
				</div>

				<div class="body">
					<p class="title end">{{post.username}}</p>
					<p class="main-copy pushv">{{post.message | colonToCode}}</p>
					<p class="meta end">{{post.date | date: 'short'}}</p>
				</div>
			</div>
		</li>
	</ul>
</div>

</div>